<html>
	<head>
		<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">	
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />	
	</head>
	<body>
	
					<h3 class="panel-title">Plik został przesłany na kolejkę</h3>
	</body>
	</html>